#webpage-title{
    color: chocolate;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.dotted-border{
    border-style: dotted;
    border-color: black;
}

.recipe-list *{
    color: brown;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    padding: 30px;
    
}

.recipe-title{
    color: chocolate;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.recipe-title.author{
    text-align: center;
    color:coral;
}

.recipe-content *{
    text-align: center;
}
.header{
    background-color: black;
    color: white;
}

.recipe-main-image{
    /* Tried centering, but failed lol */
    margin-left: 50%;
}

